body {
    font-family: 'Century Gothic', Arial, sans-serif;
    font-size: 16px;
    color: rgb(80, 80, 80);
}

h1 {
    text-align: left;
    margin: 10px;
    font-size: 200%;
}

p {
    line-height: 140%;
    font-size: 110%;
    text-align: justify;
    margin-top: 30px;
}

a {
    color: rgb(80, 80, 80);
    font-size: 100%;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.picture_big {
    width: 580px;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 10px;
    margin-top: 20px;
}

.picture_small {
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 15px;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Initalisierung des Grids */

.width-3, .width-9 {
    float: left;
}

.width-3 {
    width: 25%;
}

.width-9 {
    width: 75%;
}

.clearfix {
    clear: both;
}