/* Colors
    iracing-red: #FD2826;
    iracing-blue: #1E4488;
    iracing-orange: #FF6600;
    iracing-yellow: #FFCC00;
    iracing-green: #33CC00;
    iracing-light-blue: #00CCCC;
*/

* {
    box-sizing: border-box;
}

html {
    font-size: 0.9em; 
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    min-width: 25rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
